.slot-screen {
    background-color: rgb(250, 193, 193);
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    border: 1px solid;
    box-sizing: border-box;
    position: relative;
}